/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
}

/*! Navbar Section */
.navbar {
	background-color: #141414;
	padding: 20px 40px;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-logo {
	font-size: 24px;
	font-weight: bold;
	color: #e50914;
	text-decoration: none;
}

.navbar-menu {
	list-style: none;
	display: flex;
}

.navbar-menu li {
	margin-left: 20px;
}

.navbar-menu li a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
}

.navbar-menu li a:hover {
	color: #b2070d;
}

.navbar-profile-img {
	width: 50px;
	height: 50px;
	border-radius: 10%;
}

/* !Film Section */
#Film.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: auto;
	margin: 10px;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.film-card {
	background-color: #141414;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
	width: 25%;
	min-width: 350px;
	margin: 10px;
	position: relative;
	transition: transform 0.3s ease;
}

.film-card:hover {
	transform: translateY(-5px);
}

@media (max-width: 1200px) {
	.film-card {
		width: 250px;
	}
}

@media (max-width: 768px) {
	.film-card {
		width: 200px;
	}
}

.film-image img {
	width: 100%;
	height: 398px;
	border-radius: 4px;
	object-fit: cover;
}

.film-details {
	margin-top: 20px;
}

.film-title {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.film-year,
.film-nation {
	font-size: 14px;
	color: #808080;
	margin-bottom: 4px;
}

.watch-film-btn button {
	margin-top: 10px;
	background-color: #e50914;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.watch-film-btn button:hover {
	background-color: #b2070d;
}

.film-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 8px;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s ease;
}

.film-card:hover .film-overlay {
	opacity: 1;
}

.film-overlay-content {
	text-align: center;
}

.film-overlay-title {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 8px;
}

.film-overlay-description {
	font-size: 16px;
	color: #fff;
}

.film-overlay-close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}
/* 68686868 */
/* !Footer Section */
.footer {
	background-color: #141414;
	color: #808080;
	padding: 20px 0;
	font-size: 14px;
}

#Footer.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.footer-logo a {
	font-size: 18px;
	font-weight: bold;
	color: #e50914;
	text-decoration: none;
}

.footer-links {
	list-style: none;
	display: flex;
}

.footer-links li {
	margin-left: 20px;
}

.footer-links li a {
	color: #808080;
	text-decoration: none;
	transition: color 0.3s ease;
}

.footer-links li a:hover {
	color: #fff;
}

.footer-text {
	font-size: 12px;
}
